body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    overflow-x: hidden;
}

nav {
            background-color: #444;
            padding: 10px;
            text-align: center;
}
nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
}

section {
    margin: 15px auto;
    border-radius: 10px;
    border: 2px solid rgb(21, 19, 19);
    padding: 20px;
    width: 100%;
    
}

.wonder img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: calc(48% - 10px);
    margin-bottom: 20px; /* Added margin to create a gap */
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
